@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
label {
  visibility: hidden;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#map-container{
  background: blue none repeat scroll 0 0;
  height: 88%;
  position: fixed;
  right: 0;
  top: calc(8% - 8px);
  width: 74%;
}
#filter-container{
  width: 26%;
  margin: 0;
  position: fixed;
  overflow-y: scroll;
  top: 80px;
  bottom: 0;
}
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 22px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #444;
  padding: 5px;
  text-align: center;
  position: sticky;
  top: 0;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  text-align: center;
  padding-left: 0;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 380px;
  padding: 25px 30px 25px;
  text-align: left;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc; 
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 88%;
  position: fixed;
  right: 0;
  top: 73px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 2%;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 16px 40px 30px;
  width: 50%;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 3%;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* === review form START === */
#review-form {
  border-radius: 5px;
  padding-right: 8%;
}

/* Clear floats after the columns */
#review-form .row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-3 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

form > .row > .col-1 > label{
  padding: 12px;
  display: inline-block;
  visibility: visible; 
}

form {
  padding-top: 20px;
  background-color: white;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.submit {
  padding: 20px;
}

/* === review form END === */

/* === Favorite button START === */
#favorite {
  font-size: 12pt;
  cursor: pointer;
}
#favmsg {
  padding-left: 6px;
}

/* === Favorite button END === */


/* ============ Media Queries for home page =============== */

@media (max-width: 1000px) {
  #filter-container {
    top: 43%;  
    width: 100%;
  }
  #map-container {
    left: 0;
    height: 36%;
    width: 100%;
  }
}

@media (max-height: 900px) {
  #filter-container {
    top: 45%;  
    width: 100%;
  }
}

@media (max-height: 850px) {
  #filter-container {
    top: 43%;  
    width: 100%;
    bottom: 45px;
  }
  #map-container {
    top: 67px;
  }
  nav {
    height: 66px;
  }
  nav h1 {
    margin: auto;
    padding-top: 3px;
  }
  .filter-options select {
    font-size: 8pt;
    height: 28px;
    width: 132px;
  }
}

@media (max-height: 750px) {
  #filter-container {
    top: 44%;  
  }
}

@media (max-height: 680px) {
  #filter-container {
    top: 45%;  
  }
}

@media (max-height: 600px) {
  #filter-container {
    top: 46%;  
  }
}

/* ============ Media Queries for restaurant details page =============== */

@media (max-width: 1300px) {
  #breadcrumb {
    width: calc(100% - 80px);
  }
  .inside #map-container {
    height: 35%;
    top: 12%;
    width: 100%;
  }
  #restaurant-container {
    padding: 0 5% 1%;
    width: 38%;
    position: fixed;
    overflow-y: scroll;
    top: 49%;
    height: 40%;
  }
  #reviews-container {
    padding: 0px;
    right: 0;
    position: fixed;
    top: 49%;
    overflow-y: scroll;
    height: 46%;
  }
}

@media (max-width: 800px) {
  #restaurant-container {
    position: static;
    width: 100%;
    overflow: auto;
    margin-top: 516px;
  }
  #reviews-container {
    position: static;
    width: 100%;
    margin-left: 4%;
  }
  #reviews-list li {
    position: static;
  }
}

@media (max-height: 1400px) {
  .inside #map-container {
    top: 9%;
  }
  #restaurant-container {
    top: 45%;
    height: 53%;
  }
  #reviews-container {
    top: 45%;
    height: 53%;
  }
}

@media (max-height: 1030px) {
  .inside #map-container {
    top: 11%;
  }
}
@media (max-height: 850px) {
  .inside header, .inside > #footer, .inside #map-container {
    width: 91%;
  }
  .inside #map-container {
    top: 13%;
  }
  #restaurant-container {
    margin-top: 428px;
  }
}

@media (max-height: 750px) {
  .inside #map-container {
    top: 14%;
  }
  #restaurant-container {
    margin-top: 395px;
  }
}

@media (max-height: 700px) {
  .inside #map-container {
    top: 15%;
  }
  #restaurant-container {
    margin-top: 365px;
  }
}

@media (max-height: 650px) {
  .inside #map-container {
    top: 16%;
  }
  #restaurant-container {
    margin-top: 358px;
  }
}

@media (max-height: 600px) {
  .inside #map-container {
    top: 18%;
  }
  #restaurant-container {
    margin-top: 328px;
  }
}
